$OVC_WHITE: #FFFFFF;
$OVC_LIGHT_GRAY: #E1E1E1;
$OVC_GRAY: #B0B0B0;
$OVC_DARK_GRAY: #363636;
$OVC_BLACK: #000000;

$OVC_SIDENAV_GRAY: #F6F6F6;
$OVC_SUBNAV_GRAY: #FAFAFA;

$OVC_RED: #990000;
$OVC_WHITE_BLUE: #F2F6FF;
$OVC_THEME_LIGHT_BLUE: #999EC4;
//$OVC_THEME_BLUE: #000C68;
$OVC_THEME_GREEN: #008E8E;
$OVC_THEME_BLUE: #002E61;

$TOPNAV_HEIGHT: 50px;
$SIDENAV_WIDTH: 200px;
$SIDENAV_MINI_WIDTH: 55px;
$SUBNAV_WIDTH: 200px;
