$OVC_LIGHT_GRAY: #E1E1E1;
$OVC_GRAY: #B0B0B0;
$OVC_DARK_GRAY: #363636;
$OVC_WHITE: #FFFFFF;

$OVC_SIDENAV_GRAY: #F6F6F6;
$OVC_SUBNAV_GRAY: #FAFAFA;

$TOPNAV_HEIGHT: 50px;
$SIDENAV_WIDTH: 200px;
$SIDENAV_MINI_WIDTH: 55px;

