html, body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  height: 100%;
  padding: 0;
  margin: 0;
}

.ovc-app-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
}

// Side-by-side with sidenav - holds topnav/header and main viewport
.ovc-right-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  //flex: 1 1 100%;

  display: flex;
  flex-direction: column;
}

