@import '../mixins';
@import '../constants.scss';

$TOPNAV_HEIGHT: 50px;
$SIDENAV_WIDTH: 200px;
$SIDENAV_MINI_WIDTH: 55px;

.ovc-sidenav {
  height: 100%;
  flex: 0 0 $SIDENAV_WIDTH; // Don't grow or shrink, set to $SIDENAV_WIDTH
  overflow-y: scroll;
  z-index: 21;
  background: $OVC_SIDENAV_GRAY;
  font-size: 1.2em;
  box-shadow: 1px 1px 3px 0 $OVC_GRAY;

  a {
    // Remove link formatting (underline and color)
    text-decoration: none;
    color: inherit;
  }
  a.active {
    div {
      color: $OVC_WHITE;
      background-color: $OVC_THEME_BLUE;
    }
  }

  .ovc-sidenav-item {
    width: 100%;

    display: flex;
    align-items: center;
  }

  .ovc-sidenav-item.logo {
    height: $TOPNAV_HEIGHT;
    padding-left: 0px;
    margin-bottom: 10px;
    font-weight: 600;

    justify-content: center;
    //border-bottom: 1px solid $OVC_LIGHT_GRAY;

    color: $OVC_WHITE;
    background-color: $OVC_THEME_BLUE;
    border-bottom: 2px solid $OVC_THEME_GREEN;

    // Minimize sidenav
    @include hvr-color($OVC_GRAY);

    position: relative;
    i.nav-hamburger {
      position: absolute;
      left: 20px;
      font-size: 25px;
    }
  }

  .ovc-sidenav-item.link {
    height: $TOPNAV_HEIGHT - 5px;
    padding-left: 20px;
    justify-content: flex-start;

    @include hvr-color($OVC_GRAY);

    i {
      font-size: 20px;
      margin-right: 10px;
      width: 20px;
    }
    i.ovc-circle-alert {
      height: 20px;
      border-radius: 10px;
      margin-left: 10px;
      padding-top: 2px; // Not vertically centering well for some reason
      font-style: normal;
      font-size: 0.9em;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    i.ovc-circle-alert.red {
      background-color: red;
      color: $OVC_WHITE;
    }
  }
}

/* Sidenav */
// Default
.ovc-sidenav {
  flex: 0 0 $SIDENAV_WIDTH;
  .minimized-sidenav-hidden {
    display: flex; // Inherit the flex row properties
  }
}
// Hidden
.ovc-sidenav.minimized {
  flex: 0 0 $SIDENAV_MINI_WIDTH;
  .minimized-sidenav-hidden {
    display: none;
  }
}
