@import '../../mixins';
@import '../../constants.scss';
@import './constants.scss';

.ovc-investor-portfolio-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;

  .ovc-portco-search-menu {
    flex: 0 0 $PORTCO_SEARCH_WIDTH;
    height: 100%;
    background-color: $OVC_SUBNAV_GRAY;
    border-right: 1px solid $OVC_LIGHT_GRAY;

    overflow-y: scroll;
  }

  .ovc-investor-portco-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }
}

.ovc-investor-portco-list {
  margin: 20px;
  padding: 10px;

  h3 {
    padding-top: 0px;
    margin-top: 0px;
  }

  .ovc-investor-portco-sublist {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.ovc-investor-portco-list {
  margin: 10px;
  .ovc-investor-portco-panel {
    height: $PORTCO_PANEL_HEIGHT;
    width: 100%;
    box-shadow: 0 1px 3px 0 $OVC_GRAY;

    margin-bottom: 5px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include hvr-shadow($OVC_DARK_GRAY);

    // Left icon
    img.company-logo {
      height: $PORTCO_PANEL_HEIGHT;
      flex: 0 0 $PORTCO_PANEL_HEIGHT;
      border-right: 1px solid $OVC_LIGHT_GRAY;
    }

    // Middle info
    .portco-text {
      width: 100%;
      margin-left: 10px;
      margin-right: 5px;

      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }

    position: relative;
    i.remove-portco {
      font-size: 20px;
      position: absolute;
      right: 5px;
      top: 0px;

      @include hvr-color($OVC_GRAY);
    }
  }

  .ovc-no-data {
    color: $OVC_GRAY;
  }
}
