@import '../mixins';
@import '../colors';
@import './mixins';

.ovc-website-header {
  height: $HEADER_HEIGHT;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
  background: #fff;
  font-size: 1.5em;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.23);

  .ovc-header-left {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 10px;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
  }

  .ovc-header-right {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 20px;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
  }

  .ovc-header-item {
    width: 100px;
    height: 100%;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ovc-header-item.logo {
    font-weight: 900;
    padding-right: 10px; // Offset the container's padding-left
  }

  .ovc-header-item.text {
    width: 200px;
    justify-content: flex-end;
  }

  .ovc-header-item.button {
    cursor: pointer;
    @include hvr-fade($OVC_WHITE, $OVC_DARK_GRAY);
  }

  a {
    // Remove link formatting (underline and color)
    text-decoration: none;
    color: inherit;
  }
}

.ovc-website-body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;

  background-size: cover;
  background-repeat: no-repeat;
}

.ovc-website-body.home {
  background-image: url("https://static.pexels.com/photos/2324/skyline-buildings-new-york-skyscrapers.jpg");
}

.ovc-website-body.about {
  background-image: url("https://static.pexels.com/photos/7070/space-desk-workspace-coworking.jpg");
}

