@import '../../mixins';
@import '../../constants.scss';
@import './constants.scss';

$USER_CONTACTS_PANEL_WIDTH: 700px;
$USER_CONTACTS_PANEL_HEIGHT: 250px;
$USER_CONTACTS_IMG_HEIGHT: 150px;

.ovc-user-contacts-panel-container {
  width: $USER_CONTACTS_PANEL_WIDTH;
  margin: 5px;
  box-shadow: 0 1px 3px 0 $OVC_GRAY;

  @include hvr-shadow($OVC_DARK_GRAY);

  .ovc-user-contacts-contact-panel {
    height: $USER_CONTACTS_PANEL_HEIGHT;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    .ovc-user-contacts-left-subpanel {
      flex: 0 0 $USER_CONTACTS_IMG_HEIGHT;
      height: 100%;
      width: $USER_CONTACTS_IMG_HEIGHT;
      border-right: 1px solid $OVC_LIGHT_GRAY;

      img.contact-photo {
        height: $USER_CONTACTS_IMG_HEIGHT;
        flex: 0 0 $USER_CONTACTS_IMG_HEIGHT;
      }

      .contact-text {
        width: 100%;
        padding: 10px;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        text-align: center;

        div {
          width: 100%;
        }
        .contact-name {
          font-weight: 900;
        }
        .contact-tags {
          color: $OVC_GRAY;
        }
      }
    }

    .ovc-user-contacts-subpanel-container {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;

      .ovc-user-contacts-overview-subpanel {
        margin: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100%;

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        .overview-subpanel-title {
          font-size: 1.5em;
          font-weight: 900;
        }

        .overview-subpanel-subsection.short {
          width: 90px;
        }

        .overview-subpanel-subsection.long {
          width: 120px;
        }

        .overview-subpanel-subsection {
          margin: 5px;
          padding: 10px;
          box-shadow: 0 1px 3px 0 $OVC_GRAY;
          height: 100%;
          //height: 90px;

          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;

          .overview-label {
            width: 100%;
            height: 100%;
            font-size: 0.9em;
            text-align: center;
          }
          .overview-value {
            width: 100%;
            height: 100%;
            text-align: center;

            position: relative;
            i.icon-main {
              font-size: 40px;
              font-weight: 900;
            }
            i.icon-left {
              position: absolute;
              left: 0px;
              bottom: 5px;
            }
            span.value-small {
              font-size: 0.9em;
              font-weight: 900;
            }
            span.value-large {
              font-size: 2.0em;
              font-weight: 900;
            }
          }
        }
      }
    }

    // Right icons
    position: relative;
    i {
      font-size: 20px;

      @include hvr-color($OVC_GRAY);
    }
    i.send-mail {
      font-size: 25px;
      position: absolute;
      right: 30px;
      top: -3px;
    }
    i.remove-contact {
      position: absolute;
      right: 5px;
      top: 0px;
    }
  }
}

.ovc-create-contact-button {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid $OVC_DARK_GRAY;
  border-radius: 5px;

  @include hvr-fade($OVC_LIGHT_GRAY, $OVC_DARK_GRAY);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  i.create-contact {
    position: absolute;
    left: 10px;
    font-size: 20px;
  }
}

.ovc-contacts-contact-toggle-interactions {
  height: 40px;
  width: 100%;
  text-align: center;
  border-top: 1px solid $OVC_LIGHT_GRAY;
  @include hvr-color($OVC_LIGHT_GRAY);

  i {
    font-size: 30px;
    font-weight: 900;
  }
}

.ovc-contacts-contact-interactions {
  width: 100%;

  table {
    width: 100%;
    thead {
      background-color: $OVC_SUBNAV_GRAY;
    }
    tr {
      width: 100%;
      border: 1px solid $OVC_LIGHT_GRAY;
      td {
        padding: 5px;
        text-align: center;

        i.remove-interaction {
          @include hvr-color($OVC_GRAY);
        }
      }
      td.add-interaction {
        width: 100%;
        font-size: 15px;
        color: $OVC_GRAY;

        @include hvr-fade($OVC_DARK_GRAY, $OVC_SUBNAV_GRAY);
      }
    }
  }
}

