@import '../../mixins';
@import '../../constants.scss';

$MESSENGER_SIDEBAR_WIDTH: 200px;

.ovc-rooms-container {
  width: 100%;
  height: 100%;

  display: flex;

  .ovc-rooms-sidebar {
    flex: 0 0 $MESSENGER_SIDEBAR_WIDTH;
    height: 100%;
    background-color: $OVC_SUBNAV_GRAY;
    border-right: 1px solid $OVC_LIGHT_GRAY;
  }

  // Possible main view containers

  .ovc-rooms-main {
    width: 100%;
    height: 100%;
  }

  .ovc-rooms-join-channel {
    width: 100%;
    height: 100%;
  }
}

