@import '../../mixins';
@import '../../constants.scss';

$COLUMN_WIDTH: 140px;
$ROW_HEIGHT: 40px;

.ovc-edit-table-container {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}

table.ovc-edit-table {
  width: 100%;
  // http://stackoverflow.com/questions/4457506/
  //   set-the-table-column-width-constant-regardless-of-the-amount-of-text-in-its-cell
  table-layout: fixed;
  thead {
    background-color: $OVC_SUBNAV_GRAY;
    cursor: default;
    td {
      width: $COLUMN_WIDTH;
      text-align: left;
      padding: 10px;
      position: relative;
      div.subtext {
        font-size: 0.9em;
        color: $OVC_GRAY;
        font-style: italic;
      }
      i.sort-table {
        font-size: 1.5em;
        color: $OVC_GRAY;
        position: absolute;
        right: 15px;
        @include hvr-color($OVC_WHITE_BLUE);
      }
      i.sort-table.sort-asc {
        top: 5px;
      }
      i.sort-table.sort-desc {
        top: 25px;
      }
      i.sort-table.active {
        color: $OVC_THEME_BLUE;
      }
    }
    td.remove-entity {
      text-align: center;
      width: 60px;
    }
    td.clickable {
      @include hvr-fade-table($OVC_GRAY, $OVC_WHITE);
    }
  }
  tbody {
    tr {
      width: 100%;

      @include hvr-fade-table($OVC_DARK_GRAY, $OVC_SUBNAV_GRAY);

      td {
        width: $COLUMN_WIDTH;
        height: $ROW_HEIGHT;
        text-align: left;

        // Specify child element specifity in nesting so it doesn't cascade to
        // the component modals. Should be refactored if/when the modals are
        // moved to a separate component below the root element.
        > .ovc-edit-field,
        .ovc-cell-popover-container > .ovc-edit-field,
        span.ovc-modal-field > .ovc-edit-field {
          padding: 0px 10px 0px 10px;
          width: 100%;
          height: $ROW_HEIGHT;
          overflow: hidden;

          display: flex;
          align-items: center;
        }
        > input.ovc-edit-field,
        .ovc-cell-popover-container > input.ovc-edit-field,
        span.ovc-modal-field > input.ovc-edit-field {
          padding-top: 0px;
          padding-bottom: 0px;
          border-radius: 0px;
          border: none;
        }
        > textarea.ovc-edit-field,
        .ovc-cell-popover-container > textarea.ovc-edit-field,
        span.ovc-modal-field > textarea.ovc-edit-field {
          width: 100%;
          padding: 5px;
        }
        > img.ovc-edit-field,
        .ovc-cell-popover-container > img.ovc-edit-field,
        span.ovc-modal-field > img.ovc-edit-field {
          padding: 1px;
          height: $ROW_HEIGHT;
          width: $ROW_HEIGHT;
          border-radius: 20px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      td.add-entity {
        font-size: 1.0em;
        text-align: center;
      }
      td.remove-entity {
        @include hvr-color($OVC_GRAY);
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

table.ovc-edit-table {
  th, td {
    border: 1px solid $OVC_LIGHT_GRAY;
  }
}

/* Popover CSS */
.ovc-cell-popover-container {
  position: relative;
  > .ovc-cell-popover {
    position: absolute;
    min-width: $COLUMN_WIDTH;
    border: 1px solid $OVC_LIGHT_GRAY;
    border-radius: 5px;
    background: $OVC_SUBNAV_GRAY;
    box-shadow: 0 0 10px 0 $OVC_GRAY;
    z-index: 1;
    > .ovc-cell-popover-header {
      padding: 10px;
      width: 100%;
      background: $OVC_SUBNAV_GRAY;
      border-bottom: 1px solid $OVC_LIGHT_GRAY;
    }
    > .ovc-cell-popover-body {
      padding: 10px;
      background: $OVC_WHITE;
      > .ovc-cell-popover-row {
        > .popover-source {
          color: $OVC_GRAY;
          font-style: italic;
        }
      }
      > .ovc-cell-popover-row.selected {
        font-weight: 900;
        // Pulled this out of the .ovc-cell-popover-row selector to increase
        // specificity and force it to overwrite the colors in .valid and
        // .invalid
        @include hvr-color($OVC_LIGHT_GRAY);
      }
      > .ovc-cell-popover-row.valid > .popover-value {
        color: $OVC_GREEN;
        @include hvr-color($OVC_LIGHT_GRAY);
      }
      > .ovc-cell-popover-row.invalid > .popover-value {
        color: $OVC_RED;
        @include hvr-color($OVC_LIGHT_GRAY);
      }
    }
  }
}
