@import '../mixins';
@import '../constants.scss';

.ovc-shared-profile-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  padding-top: 50px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  .profile-picture-container {
    width: 220px;
    height: 220px;
    border-radius: 110px;
    border: 1px solid $OVC_DARK_GRAY;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 220px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      @include hvr-outline($OVC_DARK_GRAY, $OVC_LIGHT_GRAY);
    }
  }

  .profile-info-section {
    max-width: 600px;
    min-width: 300px;
    padding: 20px;
    border-bottom: 1px solid $OVC_LIGHT_GRAY;
    font-size: 1.2em;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex: 0 0 auto;

    .profile-info-subsection {
      padding-bottom: 10px;
      font-size: 1.0em;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex: 0 0 auto;

      div {
        text-align: center;
      }
    }
  }

  span.info-edit {
    @include hvr-color($OVC_LIGHT_GRAY);
  }
  input.info-edit, textarea.info-edit {
    border: 1px solid $OVC_DARK_GRAY;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9em;
  }
  textarea.info-edit {
    min-height: 200px;
    min-width: 400px;
    resize: none;
  }
  .info-edit-photo {
    margin: 5px;
    width: 300px;
  }

  .italic {
    font-style: italic;
  }
  .bold {
    font-weight: 900;
  }
  .light {
    color: $OVC_GRAY;
  }
}

.profile-experience-container {
  .profile-info-subsection {
    width: 500px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 1px 3px 0 $OVC_GRAY;

    position: relative;
    i.remove-experience {
      position: absolute;
      right: 10px;
      top: 5px;
      font-size: 20px;

      @include hvr-color($OVC_GRAY);
    }
  }

  .profile-info-subsection.profile-add-experience {
    @include hvr-shadow($OVC_DARK_GRAY);

    i {
      font-size: 30px;
    }

    position: relative;
    .add-experience-footer {
      height: 25px;
      width: 100%;
      i {
        @include hvr-color($OVC_GRAY);
        position: absolute;
        bottom: 0px;
      }
      i.cancel-experience {
        left: 15px;
      }
      i.save-experience {
        right: 15px;
      }
    }

    .add-experience-input-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      input, textarea {
        margin: 5px;
        width: 100%;
      }
    }
  }
}
