@import '../mixins';
@import '../constants.scss';

$COMPARE_HEADER_HEIGHT: 60px;
$STARTUP_PANEL_HEIGHT: 80px;

.ovc-investor-compare-container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  @include ovc-nav-input(200px, 30px, $OVC_GRAY, $OVC_DARK_GRAY);

  .ovc-compare-search-row {
    flex: 0 0 $COMPARE_HEADER_HEIGHT;
    width: 100%;
  }

  .ovc-compare-quick-row {
    flex: 0 0 $COMPARE_HEADER_HEIGHT;
    width: 100%;
  }

  .ovc-compare-startup-section {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }
}

.ovc-compare-search-row {
  background-color: $OVC_SUBNAV_GRAY;
  border-bottom: 1px solid $OVC_LIGHT_GRAY;

  display: flex;
  align-items: center;

  .search-row-left {
    flex: 0 0 200px;
    padding-left: 10px;
  }
  .search-row-mid {
    width: 100%;
    font-size: 1.2em;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      padding: 10px;
      margin: 5px;
      border: 1px solid $OVC_LIGHT_GRAY;
      border-radius: 5px;

      @include hvr-fade($OVC_LIGHT_GRAY, $OVC_DARK_GRAY);
      cursor: pointer;
    }

    span.selected {
      color: $OVC_LIGHT_GRAY;
      background-color: $OVC_DARK_GRAY;
      border: 1px solid $OVC_DARK_GRAY;
    }
  }
  .search-row-right {
    flex: 0 0;
    padding-right: 10px;
    border-left: 1px solid $OVC_LIGHT_GRAY;

    display: flex;
    flex-direction: row;

    img, i {
      width: $COMPARE_HEADER_HEIGHT;
      height: $COMPARE_HEADER_HEIGHT;
      border-right: 1px solid $OVC_LIGHT_GRAY;
    }
    img {
      @include hvr-grow(1.2);
      cursor: pointer;
    }
    i {
      font-size: $COMPARE_HEADER_HEIGHT;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.ovc-compare-quick-row {
  padding-left: 10px;
  padding-right: 10px;
  background-color: $OVC_SUBNAV_GRAY;
  border-left: 1px solid $OVC_LIGHT_GRAY;
  border-bottom: 1px solid $OVC_LIGHT_GRAY;

  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;

  img {
    width: $COMPARE_HEADER_HEIGHT;
    height: $COMPARE_HEADER_HEIGHT;
    border-right: 1px solid $OVC_LIGHT_GRAY;

    @include hvr-grow(1.2);
    cursor: pointer;
  }
}

.ovc-compare-startup-section {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  .ovc-compare-none-selected {
    padding: 30px;
    text-align: center;
    font-size: 2.0em;
    font-weight: 100;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .ovc-compare-startup-column {
    height: 100%;
    width: 100%;
    max-width: 400px;
    padding: 20px;

    .compare-column-panel {
      height: $STARTUP_PANEL_HEIGHT;
      width: 100%;
      box-shadow: 0 1px 3px 0 $OVC_GRAY;

      margin-bottom: 5px;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      cursor: default;

      img {
        height: $STARTUP_PANEL_HEIGHT;
        width: $STARTUP_PANEL_HEIGHT;
      }

      .panel-text {
        padding-left: 10px;
        color: $OVC_DARK_GRAY;
      }
    }

    a {
      text-decoration: none;
      color: $OVC_DARK_GRAY;

      .compare-column-panel {
        @include hvr-outline($OVC_DARK_GRAY);
        cursor: pointer;
      }
    }
  }
}
