.ovc-investor-main {
  // Height: 100% (remaining height), Width: 100%
  flex: 1 1 100%;
  width: 100%;
  position: relative;
  overflow-y: hidden; // Let child components control scroll
                      // NOTE: Every component along the chain needs to have
                      //       height: 100% for the child component to allow
                      //       overflow-y: scroll
}

