@import '../mixins';
@import '../constants.scss';

$LANDSCAPE_SEARCH_WIDTH: 200px;
$STARTUP_PANEL_HEIGHT: 160px;

.ovc-investor-landscape-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;

  .ovc-landscape-search-menu {
    flex: 0 0 $LANDSCAPE_SEARCH_WIDTH;
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
    background-color: $OVC_SUBNAV_GRAY;
    border-right: 1px solid $OVC_LIGHT_GRAY;
  }

  .ovc-landscape-startups-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }

  .filter-tag {
    width: auto;
    height: 30px;
    border: 1px solid $OVC_LIGHT_GRAY;
    border-radius: 5px;
    padding-right: 10px;
    margin: 1px;

    display: inline-flex; // inline to make width size to element
    justify-content: center;
    align-items: center;

    @include hvr-color($OVC_GRAY);
    cursor: pointer;

    .filter-close {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      border-right: 1px solid $OVC_LIGHT_GRAY;

      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
      }
    }
  }
}

.ovc-landscape-search-menu {
  label {
    width: 100%;
    float: left;
    color: $OVC_DARK_GRAY;
  }

  @include ovc-nav-input($LANDSCAPE_SEARCH_WIDTH - 40px, 30px,
                         $OVC_GRAY, $OVC_DARK_GRAY);
}

.ovc-landscape-startups-section {
  padding: 5px;

  .ovc-investor-landscape-panel {
    height: $STARTUP_PANEL_HEIGHT;
    width: 100%;
    box-shadow: 0 1px 3px 0 $OVC_GRAY;

    margin-bottom: 5px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor: default;

    // Left icon
    .logo-container {
      height: $STARTUP_PANEL_HEIGHT;
      width: $STARTUP_PANEL_HEIGHT;
      flex: 0 0 $STARTUP_PANEL_HEIGHT;
      border-right: 1px solid $OVC_LIGHT_GRAY;

      display: flex;
      justify-content: center;
      align-items: center;

      img.company-logo {
        height: $STARTUP_PANEL_HEIGHT;
        width: $STARTUP_PANEL_HEIGHT;
      }
    }
    .logo-container.save-startup {
      cursor: pointer;

      i.save-button {
        display: none;
        font-size: $STARTUP_PANEL_HEIGHT - 10px;
        color: $OVC_GRAY;
      }
      img.company-logo {
        display: inline;
      }
    }
    .logo-container.save-startup i {
      display: none;
    }
    // Left icon on hover
    .logo-container.save-startup:hover {
      display: flex;
      justify-content: center;
      align-items: center;

      i.save-button {
        display: inline;
      }
      img.company-logo {
        display: none;
      }
    }

    // Middle info
    .startup-text {
      width: 100%;
      margin-left: 10px;
      margin-right: 5px;

      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }

    // Right icon
    position: relative;
    i.invite-startup {
      position: absolute;
      right: 5px;
      top: -5px;
      font-size: 30px;

      @include hvr-color($OVC_GRAY);
      cursor: pointer;
    }
  }
}

/* Email Modal */

/* The Modal (background) */
.ovc-modal-background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.ovc-modal {
  width: 60%;
  height: 80%;
  margin: 5% auto;

  background-color: $OVC_WHITE;
  border: 1px solid $OVC_GRAY;
}

.ovc-modal-background.show {
  display: block;
}

.ovc-modal {
  display: flex;
  flex-direction: column;

  .email-modal-header {
    flex: 0 0 40px;
    width: 100%;
    border-bottom: 1px solid $OVC_LIGHT_GRAY;
  }

  .email-modal-header.head {
    background-color: $OVC_DARK_GRAY;
    color: $OVC_WHITE;
  }

  .email-modal-body {
    height: 100%;
  }

  .email-modal-footer {
    flex: 0 0 40px;
    width: 100%;
    border-top: 1px solid $OVC_LIGHT_GRAY;
  }
}
