@import '../mixins';
@import '../constants.scss';

$VIEW_SEARCH_WIDTH: 200px;
$VIEW_PANEL_HEIGHT: 100px;
$VIEW_PANEL_WIDTH: 300px;

/*
 * Base
 */

.ovc-investor-view-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;

  .ovc-view-search-menu {
    flex: 0 0 $VIEW_SEARCH_WIDTH;
    height: 100%;
    background-color: $OVC_SUBNAV_GRAY;
    border-right: 1px solid $OVC_LIGHT_GRAY;

    overflow-y: scroll;
  }

  .ovc-investor-view-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }
}

.ovc-investor-view-list {
  margin: 20px;
  padding: 10px;

  h3 {
    padding-top: 0px;
    margin-top: 0px;
  }

  .ovc-investor-view-sublist {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/*
 * Sidenav
 */

.ovc-view-search-menu {
  display: flex;
  flex-direction: column;

  .ovc-view-search-section-tabs {
    display: flex;
    .ovc-search-tab {
      width: 100%;
      background-color: $OVC_SUBNAV_GRAY;
      text-align: center;
    }
    a {
      // Remove link formatting (underline and color)
      text-decoration: none;
      color: inherit;
    }
  }

  .ovc-view-search-dropdown {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $OVC_LIGHT_GRAY;

    display: flex;
    flex-direction: column;

    .dropdown-button {
      width: 100%;
      border-color: $OVC_GRAY;
    }
  }

  .ovc-view-search-inputs {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $OVC_LIGHT_GRAY;

    @include ovc-nav-input($VIEW_SEARCH_WIDTH - 40px, 30px,
                           $OVC_GRAY, $OVC_DARK_GRAY);
  }

  .ovc-view-search-tags {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    .filter-tag {
      width: auto;
      height: 30px;
      border: 1px solid $OVC_LIGHT_GRAY;
      border-radius: 5px;
      padding-right: 10px;
      margin: 1px;

      display: inline-flex; // inline to make width size to element
      justify-content: center;
      align-items: center;

      @include hvr-color($OVC_GRAY);

      .filter-close {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        border-right: 1px solid $OVC_LIGHT_GRAY;

        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 20px;
        }
      }
      .light {
        color: $OVC_GRAY;
      }
    }
  }
}

