@import '../mixins';
@import '../colors.scss';
@import './mixins.scss';

$INVESTOR_SEARCH_WIDTH: 200px;
$INVESTOR_PANEL_HEIGHT: 70px;

.ovc-founder-apply-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  display: flex;
}

.ovc-apply-search-menu {
  flex: 0 0 $INVESTOR_SEARCH_WIDTH;
  height: 100%;
  overflow-y: hidden; // No scroll (parent div has this set)
  padding-left: 20px;
  padding-top: 20px;
  background-color: $OVC_SUBNAV_GRAY;
  border-right: 1px solid $OVC_LIGHT_GRAY;

  label {
    width: 100%;
    float: left;
    color: $OVC_DARK_GRAY;
  }
  input {
    width: $INVESTOR_SEARCH_WIDTH - 40px;
    height: 30px;
    color: $OVC_DARK_GRAY;

    background: none;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px $OVC_GRAY solid;
    border-radius: 5px;
  }
  input:focus {
    outline: none;
  }

  .filter-tag {
    width: auto;
    height: 30px;
    border: 1px solid $OVC_LIGHT_GRAY;
    border-radius: 5px;
    padding-right: 10px;
    margin: 1px;

    display: inline-flex; // inline to make width size to element
    justify-content: center;
    align-items: center;

    @include hvr-color($OVC_GRAY);
    cursor: pointer;

    .filter-close {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      border-right: 1px solid $OVC_LIGHT_GRAY;

      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 20px;
      }
    }
  }
}

.ovc-apply-investor-list {
  width: 100%;
  margin: 25px;

  padding: 5px;
  overflow-y: scroll; // Search sidebar is fixed, this should overflow

  .ovc-investor-panel {
    height: $INVESTOR_PANEL_HEIGHT;
    width: 100%;
    box-shadow: 0 1px 3px 0 $OVC_GRAY;

    margin-bottom: 5px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include hvr-outline($OVC_DARK_GRAY);
    cursor: pointer;

    // Left icon
    img.investor-logo {
      height: $INVESTOR_PANEL_HEIGHT;
      flex: 0 0 $INVESTOR_PANEL_HEIGHT;
      border-right: 1px solid $OVC_LIGHT_GRAY;
    }

    // Middle info
    .ovc-investor-text {
      width: 100%;
      margin-left: 10px;

      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      .investor-name {
        font-weight: 900;
      }
      .investor-tags {
        color: $OVC_GRAY;
      }
      span {
        margin-right: 20px;
        width: 180px;
        display: inline-block;
      }
    }

    // Right icon
    .has-applied {
      height: $INVESTOR_PANEL_HEIGHT;
      flex: 0 0 $INVESTOR_PANEL_HEIGHT;
      border-left: 1px solid $OVC_LIGHT_GRAY;

      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: $INVESTOR_PANEL_HEIGHT - 10px;
        color: $OVC_GRAY;

        @include hvr-color($OVC_DARK_GRAY);
        cursor: pointer;
      }
    }
  }
}
