@import '../mixins';
@import '../constants.scss';

.ovc-founder-company-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.ovc-team-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .ovc-team-card {
    display: inline-block;
    height: 200px;
    width: 150px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 1px 3px 0 $OVC_GRAY;

    @include hvr-shadow($OVC_DARK_GRAY);
  }

  .ovc-team-card.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      margin-bottom: 5px;
    }

    i.remove-team-member {
      position: absolute;
      left: 10px;
      top: 5px;
      font-size: 20px;

      @include hvr-color($OVC_GRAY);
    }
    i.edit-team-member {
      position: absolute;
      right: 10px;
      top: 5px;
      font-size: 18px;

      @include hvr-color($OVC_GRAY);
    }
  }

  .ovc-team-card.edit {
    input {
      width: 130px;
      height: 25px;
      color: $OVC_DARK_GRAY;

      font-size: 0.8em;
      padding: 5px;
      margin-bottom: 4px;
      border: 1px $OVC_GRAY solid;
      border-radius: 5px;
    }
    input:focus {
      outline: none;
    }

    i {
      font-size: 35px;
      color: $OVC_GRAY;

      @include hvr-color($OVC_DARK_GRAY);
    }

    i.cancel {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-left: 10px;
    }

    i.save {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 10px;
    }
  }

  .ovc-team-card.add {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 4em;
    }
  }
}

.ovc-board-section {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .ovc-board-card {
    display: inline-block;
    height: 220px;
    width: 150px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 1px 3px 0 $OVC_GRAY;

    @include hvr-shadow($OVC_DARK_GRAY);
  }

  .ovc-board-card.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      margin-bottom: 5px;
    }
  }

  .ovc-board-card.edit {
    input {
      width: 130px;
      height: 25px;
      color: $OVC_DARK_GRAY;

      font-size: 0.8em;
      padding: 5px;
      margin-bottom: 2px; // This is the only value in the edit section that's
                          // different from .ovc-team-card.edit
      border: 1px $OVC_GRAY solid;
      border-radius: 5px;
    }
    input:focus {
      outline: none;
    }

    i {
      font-size: 35px;
      color: $OVC_GRAY;

      @include hvr-color($OVC_DARK_GRAY);
    }

    i.cancel {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-left: 10px;
    }

    i.save {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 10px;
    }
  }

  .ovc-board-card.add {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 4em;
    }
  }
}

.ovc-investor-section {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .ovc-investor-card {
    display: inline-block;
    height: 200px;
    width: 150px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 1px 3px 0 $OVC_GRAY;

    @include hvr-shadow($OVC_DARK_GRAY);
  }

  .ovc-investor-card.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    img {
      width: 100px;
      height: 100px;
      //border-radius: 50px;
      margin-bottom: 5px;
    }
  }

  .ovc-investor-card.edit {
    input {
      width: 130px;
      height: 25px;
      color: $OVC_DARK_GRAY;

      font-size: 0.8em;
      padding: 5px;
      margin-bottom: 2px; // This is the only value in the edit section that's
                          // different from .ovc-team-card.edit
      border: 1px $OVC_GRAY solid;
      border-radius: 5px;
    }
    input:focus {
      outline: none;
    }

    i {
      font-size: 35px;
      color: $OVC_GRAY;

      @include hvr-color($OVC_DARK_GRAY);
    }

    i.cancel {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-left: 10px;
    }

    i.save {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 10px;
    }
  }

  .ovc-investor-card.add {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 4em;
    }
  }
}

