@import '../mixins';
@import '../constants.scss';

$INVESTOR_SEARCH_WIDTH: 200px;
$INVESTOR_PANEL_HEIGHT: 100px;

.ovc-founder-fundraising-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;

  .ovc-fundraising-search-menu {
    flex: 0 0 $INVESTOR_SEARCH_WIDTH;
    height: 100%;
    background-color: $OVC_SUBNAV_GRAY;
    border-right: 1px solid $OVC_LIGHT_GRAY;

    overflow-y: scroll;
  }

  .ovc-founder-fundraising-investor-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }
}

.ovc-fundraising-search-menu {
  display: flex;
  flex-direction: column;

  .ovc-fundraising-search-show-buttons {
    padding: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $OVC_LIGHT_GRAY;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .show-button {
      height: 40px;
      width: 75px;
      border: 1px solid $OVC_LIGHT_GRAY;
      border-radius: 5px;

      display: flex;
      justify-content: center;
      align-items: center;

      @include hvr-fade($OVC_LIGHT_GRAY, $OVC_DARK_GRAY);
    }
    .show-button.selected {
      color: $OVC_LIGHT_GRAY;
      background-color: $OVC_DARK_GRAY;
    }
  }

  .ovc-fundraising-search-inputs {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $OVC_LIGHT_GRAY;

    @include ovc-nav-input($INVESTOR_SEARCH_WIDTH - 40px, 30px,
                           $OVC_GRAY, $OVC_DARK_GRAY);
  }

  .ovc-fundraising-search-stages {
    padding-top: 10px;
    padding-left: 20px;

    .search-menu-stage-section {
      margin-bottom: 5px;
      display: flex;
      flex-direction: column;

      .search-menu-stage-name {
        font-size: 1.1em;

        @include hvr-color($OVC_LIGHT_GRAY);
      }

      .search-menu-stage-investors {
        margin-left: 10px;
        margin-bottom: 5px;

        display: flex;
        flex-direction: column;
      }
    }
  }
}

.ovc-founder-fundraising-investor-list {
  .ovc-fundraising-investor-panel {
    height: $INVESTOR_PANEL_HEIGHT;
    width: 100%;
    box-shadow: 0 1px 3px 0 $OVC_GRAY;

    margin-bottom: 5px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include hvr-shadow($OVC_DARK_GRAY);

    // Left icon
    img.company-logo {
      height: $INVESTOR_PANEL_HEIGHT;
      flex: 0 0 $INVESTOR_PANEL_HEIGHT;
      border-right: 1px solid $OVC_LIGHT_GRAY;
    }

    // Middle info
    .investor-text {
      width: 100%;
      margin-left: 10px;
      margin-right: 5px;

      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
  }
  .ovc-fundraising-investor-panel.rejected {
    opacity: 0.4;
  }
}
