@import '../mixins';
@import '../colors.scss';
@import './mixins.scss';

.ovc-founder-topnav {
  // Height: $TOPNAV_HEIGHT, Width: 100%
  flex: 0 0 $TOPNAV_HEIGHT; // Don't grow or shrink, set to $TOPNAV_HEIGHT
  width: 100%;
  position: relative;
  z-index: 20;
  background: $OVC_WHITE;
  font-size: 1.2em;
  border-bottom: 1px solid $OVC_LIGHT_GRAY;

  .ovc-topnav-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .ovc-topnav-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .ovc-topnav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ovc-topnav-item.link {
    padding-left: 20px;
    height: 100%;

    cursor: pointer;
    @include hvr-color($OVC_GRAY);
  }

  .ovc-topnav-item.labeled-icon {
    width: 150px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    @include hvr-color($OVC_GRAY);

    i {
      font-size: 30px;
      margin-right: 10px;
    }
  }

  .ovc-topnav-item.circle-icon {
    width: 50px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    @include hvr-color($OVC_GRAY);

    i {
      font-style: normal;
      height: 35px;
      width: 35px;
      border: 1px solid $OVC_DARK_GRAY;
      border-radius: 20px;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

