@import '../mixins';
@import '../constants.scss';

table.ovc-edit-table {
  width: 100%;
  thead {
    background-color: $OVC_SUBNAV_GRAY;
    cursor: default;
    td {
      text-align: center;
      padding: 10px;
    }
  }
  tbody {
    tr {
      width: 100%;

      @include hvr-fade-table($OVC_DARK_GRAY, $OVC_SUBNAV_GRAY);

      td {
        text-align: left;

        .ovc-edit-field {
          display: block;
          width: 100%;
          height: 100%;
          padding: 10px;
        }
        input.ovc-edit-field {
          border-radius: 0px;
          border: none;
        }
      }
      td.add-entity {
        padding: 10px;
        font-size: 20px;
        text-align: center;
      }
      td.remove-entity {
        @include hvr-color($OVC_GRAY);
        width: 40px;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

table.ovc-edit-table {
  th, td {
    border: 1px solid $OVC_LIGHT_GRAY;
  }
}
