@import '../mixins';
@import '../constants.scss';

.ovc-edit-table-container {
  width: 100%;
  overflow-x: scroll;
}

table.ovc-edit-table {
  width: 100%;
  thead {
    background-color: $OVC_SUBNAV_GRAY;
    cursor: default;
    td {
      width: 100px;
      text-align: center;
      padding: 10px;
    }
    td.remove-entity {
      width: 40px;
    }
    td.clickable {
      @include hvr-fade-table($OVC_GRAY, $OVC_WHITE);
    }
  }
  tbody {
    tr {
      width: 100%;

      @include hvr-fade-table($OVC_DARK_GRAY, $OVC_SUBNAV_GRAY);

      td {
        width: 100px;
        height: 40px;
        text-align: left;

        // Specify child element specifity in nesting so it doesn't cascade to
        // the component modals. Should be refactored if/when the modals are
        // moved to a separate component below the root element.
        > .ovc-edit-field {
          padding: 0px 10px 0px 10px;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }
        > input.ovc-edit-field {
          padding-top: 0px;
          padding-bottom: 0px;
          border-radius: 0px;
          border: none;
        }
        > textarea.ovc-edit-field {
          padding: 5px;
        }
        > img.ovc-edit-field {
          padding: 1px;
          height: 40px;
          width: 40px;
          border-radius: 20px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        span.ovc-modal-field {
          > .ovc-edit-field {
            padding: 0px 10px 0px 10px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
          }
          > input.ovc-edit-field {
            padding-top: 0px;
            padding-bottom: 0px;
            border-radius: 0px;
            border: none;
          }
          > textarea.ovc-edit-field {
            padding: 5px;
          }
          > img.ovc-edit-field {
            padding: 1px;
            height: 40px;
            width: 40px;
            border-radius: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      td.add-entity {
        font-size: 1.0em;
        text-align: center;
      }
      td.remove-entity {
        @include hvr-color($OVC_GRAY);
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

table.ovc-edit-table {
  th, td {
    border: 1px solid $OVC_LIGHT_GRAY;
  }
}
