@import '../mixins';
@import '../constants.scss';

/*
 * View with Subnav
 */

.ovc-subnav-view-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;

  .ovc-component-subnav {
    flex: 0 0 $SUBNAV_WIDTH;
    height: 100%;
    background-color: $OVC_SUBNAV_GRAY;
    border-right: 1px solid $OVC_LIGHT_GRAY;

    overflow-y: scroll;
  }

  .ovc-subnav-main {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }
}

.ovc-component-subnav {
  display: flex;
  flex-direction: column;

  /* Component: SubnavButton */
  .ovc-component-subnav-button-container {
    width: 100%;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E1E1E1;

    display: flex;
    align-items: center;
    justify-content: center;

    .ovc-component-subnav-button {
      width: $SUBNAV_WIDTH - 20px;
      height: 40px;
      border: 1px solid $OVC_GRAY;
      border-radius: 5px;

      @include hvr-fade($OVC_LIGHT_GRAY, $OVC_DARK_GRAY);

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      i.subnav-button-icon {
        position: absolute;
        left: 10px;
        font-size: 20px;
      }
    }
  }

  /* TODO: Component: SubnavTabs */
  .ovc-component-subnav-tabs {
    display: flex;
    .ovc-subnav-tab {
      width: 100%;
      background-color: $OVC_SUBNAV_GRAY;
      text-align: center;
    }
    a {
      // Remove link formatting (underline and color)
      text-decoration: none;
      color: inherit;
    }
  }

  /* Component: SubnavDropdown */
  .ovc-component-subnav-dropdown {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $OVC_LIGHT_GRAY;

    display: flex;
    flex-direction: column;

    .dropdown-button {
      width: 100%;
      border-color: $OVC_GRAY;
    }
  }

  /* Component: SubnavFilters */
  .ovc-component-subnav-filter-inputs {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $OVC_LIGHT_GRAY;

    @include ovc-nav-input($SUBNAV_WIDTH - 40px, 30px,
                           $OVC_GRAY, $OVC_DARK_GRAY);
  }
  /* Component: SubnavFilters */
  .ovc-component-subnav-filter-tags {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    .filter-tag {
      width: auto;
      height: 30px;
      border: 1px solid $OVC_LIGHT_GRAY;
      border-radius: 5px;
      padding-right: 10px;
      margin: 1px;

      display: inline-flex; // inline to make width size to element
      justify-content: center;
      align-items: center;

      @include hvr-color($OVC_GRAY);

      .filter-close {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        border-right: 1px solid $OVC_LIGHT_GRAY;

        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 20px;
        }
      }
      .light {
        color: $OVC_GRAY;
      }
    }
  }
}

