@import '../mixins';
@import '../constants.scss';

/*
 * View with Subnav
 */

.ovc-subnav-view-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  position: relative;
  .ovc-component-subnav-hidden {
    position: absolute;
    top: 40px;
    right: 5px;
  }

  .ovc-subnav-main {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }

  .ovc-component-subnav {
    position: absolute;
    width: $SUBNAV_WIDTH;
    top: 0;
    right: 0;

    // TODO: Consider making this a flex component so it moves with the main
    //       container rather than overlaying it.
    //flex: 0 0 $SUBNAV_WIDTH;
    height: 100%;
    background-color: $OVC_SUBNAV_GRAY;
    // Old - new style uses box shadow
    //border-left: 1px solid $OVC_LIGHT_GRAY;
    box-shadow: -1px -1px 3px 0 $OVC_GRAY;

    overflow-y: scroll;
  }
}

/* Animation */
.ovc-toggle-sidenav-enter.ovc-toggle-sidenav-enter-active {
  @include animate-slide-in-left(500ms);
}
.ovc-toggle-sidenav-leave.ovc-toggle-sidenav-leave-active {
  @include animate-slide-out-right(500ms);
}

.ovc-component-subnav-hidden {
  width: 50px;
  height: 50px;
  z-index: 100;
  background-color: $OVC_THEME_BLUE;
  color: $OVC_WHITE;
  font-size: 2.5em;
  font-weight: 900;
  border: 1px solid $OVC_BLACK;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.5);
  @include hvr-fade($OVC_WHITE, $OVC_THEME_LIGHT_BLUE);
}

.ovc-component-subnav {
  display: flex;
  flex-direction: column;

  /* Component: Minimize */
  .ovc-component-subnav-minimize {
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 2.0em;
    @include hvr-color($OVC_LIGHT_GRAY);
    > i {
      position: absolute;
      right: 10px;
    }
  }

  /* Component: SubnavButton */
  .ovc-component-subnav-button-container {
    width: 100%;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E1E1E1;

    display: flex;
    align-items: center;
    justify-content: center;

    .ovc-component-subnav-button {
      width: $SUBNAV_WIDTH - 20px;
      height: 40px;
      border: 1px solid $OVC_GRAY;
      border-radius: 5px;

      @include hvr-fade($OVC_LIGHT_GRAY, $OVC_DARK_GRAY);

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      i.subnav-button-icon {
        position: absolute;
        left: 10px;
        font-size: 20px;
      }
    }
  }

  /* TODO: Component: SubnavTabs */
  .ovc-component-subnav-tabs {
    display: flex;
    .ovc-subnav-tab {
      width: 100%;
      background-color: $OVC_SUBNAV_GRAY;
      text-align: center;
    }
    a {
      // Remove link formatting (underline and color)
      text-decoration: none;
      color: inherit;
    }
  }

  /* Component: SubnavDropdown */
  .ovc-component-subnav-dropdown {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $OVC_LIGHT_GRAY;

    display: flex;
    flex-direction: column;

    .dropdown-button {
      width: 100%;
      border-color: $OVC_GRAY;
    }
  }

  /* Component: SubnavFilters */
  .ovc-component-subnav-filter-inputs {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $OVC_LIGHT_GRAY;

    @include ovc-nav-input($SUBNAV_WIDTH - 40px, 30px,
                           $OVC_GRAY, $OVC_DARK_GRAY);
  }
  /* Component: SubnavFilters */
  .ovc-component-subnav-filter-tags {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    .filter-tag {
      width: auto;
      min-height: 30px;
      border: 1px solid $OVC_LIGHT_GRAY;
      border-radius: 5px;
      padding-right: 10px;
      margin: 1px;

      display: inline-flex; // inline to make width size to element
      justify-content: center;
      align-items: center;

      @include hvr-color($OVC_GRAY);

      display: flex;
      > .filter-close {
        flex: 0 0 30px;
        height: 100%;

        margin-right: 5px;
        border-right: 1px solid $OVC_LIGHT_GRAY;

        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 20px;
        }
      }
      > .filter-content {
        flex: 1 1;
        height: 100%;
        width: 100%;

        .filter-tag-key {
          color: $OVC_GRAY;
        }
      }
    }
  }
}

